<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<string>75</string>
		<key>y</key>
		<string>215</string>
	</dict>
	<dict>
		<key>x</key>
		<string>115</string>
		<key>y</key>
		<string>215</string>
	</dict>
	<dict>
		<key>x</key>
		<string>155</string>
		<key>y</key>
		<string>215</string>
	</dict>
	<dict>
		<key>x</key>
		<string>235</string>
		<key>y</key>
		<string>215</string>
	</dict>
	<dict>
		<key>x</key>
		<string>275</string>
		<key>y</key>
		<string>215</string>
	</dict>
	<dict>
		<key>x</key>
		<string>75</string>
		<key>y</key>
		<string>175</string>
	</dict>
	<dict>
		<key>x</key>
		<string>115</string>
		<key>y</key>
		<string>175</string>
	</dict>
	<dict>
		<key>x</key>
		<string>155</string>
		<key>y</key>
		<string>175</string>
	</dict>
	<dict>
		<key>x</key>
		<string>195</string>
		<key>y</key>
		<string>175</string>
	</dict>
	<dict>
		<key>x</key>
		<string>235</string>
		<key>y</key>
		<string>175</string>
	</dict>
	<dict>
		<key>x</key>
		<string>275</string>
		<key>y</key>
		<string>175</string>
	</dict>
	<dict>
		<key>x</key>
		<string>115</string>
		<key>y</key>
		<string>135</string>
	</dict>
	<dict>
		<key>x</key>
		<string>155</string>
		<key>y</key>
		<string>135</string>
	</dict>
	<dict>
		<key>x</key>
		<string>195</string>
		<key>y</key>
		<string>135</string>
	</dict>
	<dict>
		<key>x</key>
		<string>235</string>
		<key>y</key>
		<string>135</string>
	</dict>
	<dict>
		<key>x</key>
		<string>195</string>
		<key>y</key>
		<string>95</string>
	</dict>
	<dict>
		<key>x</key>
		<string>235</string>
		<key>y</key>
		<string>95</string>
	</dict>
</array>
</plist>
