<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>x</key>
		<string>150</string>
		<key>y</key>
		<string>230</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>190</string>
		<key>y</key>
		<string>230</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>230</string>
		<key>y</key>
		<string>230</string>
	</dict>



	<dict>
		<key>x</key>
		<string>70</string>
		<key>y</key>
		<string>190</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>110</string>
		<key>y</key>
		<string>190</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>150</string>
		<key>y</key>
		<string>190</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>190</string>
		<key>y</key>
		<string>190</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>230</string>
		<key>y</key>
		<string>190</string>
	</dict>
	
	
	
		<dict>
		<key>x</key>
		<string>70</string>
		<key>y</key>
		<string>150</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>110</string>
		<key>y</key>
		<string>150</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>150</string>
		<key>y</key>
		<string>150</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>190</string>
		<key>y</key>
		<string>150</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>230</string>
		<key>y</key>
		<string>150</string>
	</dict>
	
	
	
		<dict>
		<key>x</key>
		<string>70</string>
		<key>y</key>
		<string>110</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>110</string>
		<key>y</key>
		<string>110</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>150</string>
		<key>y</key>
		<string>110</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>190</string>
		<key>y</key>
		<string>110</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>230</string>
		<key>y</key>
		<string>110</string>
	</dict>
	
	
		<dict>
		<key>x</key>
		<string>110</string>
		<key>y</key>
		<string>70</string>
	</dict>
	
	<dict>
		<key>x</key>
		<string>150</string>
		<key>y</key>
		<string>70</string>
	</dict>

	
</array>
</plist>
